$def with (list)

$code:
    icon = {
        #//default
        "dir":"/static/img/file-icon/folder.png",
        "general":"/static/img/file-icon/file.png",
        
        #//codes
        ".h":"/static/img/file-icon/head.png",
        ".cpp":"/static/img/file-icon/cpp.png",
        ".cxx":"/static/img/file-icon/cpp.png",
        ".cc":"/static/img/file-icon/cpp.png",
        ".c":"/static/img/file-icon/c.png",
        ".cs":"/static/img/file-icon/cs.png",
        ".html":"/static/img/file-icon/html.png",
        ".js":"/static/img/file-icon/js.png",
        ".php":"/static/img/file-icon/php.png",
        ".java":"/static/img/file-icon/java.png",
        ".py":"/static/img/file-icon/py.png",
        ".rb":"/static/img/file-icon/ruby.png",
        ".as":"/static/img/file-icon/as.png",

        #//pic
        ".jpeg":"/static/img/file-icon/pic.png",
        ".png":"/static/img/file-icon/pic.png",
        ".jpg":"/static/img/file-icon/pic.png",
        ".gif":"/static/img/file-icon/pic.png",
        ".ai":"/static/img/file-icon/ai.png",
        ".psd":"/static/img/file-icon/psd.png",
        
        #//music
        ".mp3":"/static/img/file-icon/music.png",

        #//video
        ".avi":"/static/img/file-icon/video.png",
        ".rm":"/static/img/file-icon/video.png",
        ".rmvb":"/static/img/file-icon/video.png",
        ".mp4":"/static/img/file-icon/video.png",
        ".wmv":"/static/img/file-icon/video.png",
        ".mkv":"/static/img/file-icon/video.png",

        #//office
        ".doc":"/static/img/file-icon/word.png",
        ".docx":"/static/img/file-icon/word.png",
        ".ppt":"/static/img/file-icon/ppt.png",
        ".pptx":"/static/img/file-icon/ppt.png",
        ".xls":"/static/img/file-icon/excel.png",
        ".xlsx":"/static/img/file-icon/excel.png",

        #//zip
        ".zip":"/static/img/file-icon/zip.png",
        ".tar":"/static/img/file-icon/zip.png",
        ".gz":"/static/img/file-icon/zip.png",
        ".7z":"/static/img/file-icon/zip.png",
        ".rar":"/static/img/file-icon/zip.png",

        #else
        ".pdf":"/static/img/file-icon/pdf.png",
        ".txt":"/static/img/file-icon/txt.png",
        ".exe":"/static/img/file-icon/exe.png",
        ".apk":"/static/img/file-icon/apk.png",
    }

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="zh-cn" lang="zh-cn" >
    <head>
        <title>Ace's Upload Center</title>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <link rel=icon" href="/static/img/favicon.ico" type="image/x-icon" >
        <!--<link href="/static/css/general.css" rel="stylesheet" type="text/css" media="screen">-->
        <link href="/static/css/bootstrap.min.css" rel="stylesheet" media="screen">
        <!--<link href="/static/css/tipsy.css" rel="stylesheet">-->
        <style type="text/css">
        body {
            padding-top: 60px;
            padding-bottom: 40px;
        }
        .sidebar-nav {
            padding: 9px 0;
        }
        .footer {
            text-align: center;
            padding: 30px 0;
            margin-top: 70px;
            border-top: 1px solid #e5e5e5;
            background-color: #f5f5f5;
        }
        .input
        {
            font: 12px Arial, Helvetica, sans-serif;
            border: 1px solid #86888B;
        }
        #filedrag
        {
            display: none;
            font-weight: bold;
            text-align: center;
            padding: 1em 0;
            margin: 1em 0;
            color: #555;
            border: 2px dashed #555;
            border-radius: 7px;
            cursor: default;
        }
        #filedrag.hover
        {
            color: #71C671;
            border-color: #71C671;
            border-style: solid;
            box-shadow: inset 0 3px 4px #888;
        }
        table{table-layout: fixed;}
        td{word-break: break-all; word-wrap:break-word;}
        footer{display:block;}
        </style>
        <!--<link href="http://blogs.sitepointstatic.com/examples/tech/filedrag/1/styles.css" rel="stylesheet">-->
        <script type="text/javascript" src="/static/js/jquery.js"></script>
        <!--<script type="text/javascript" src="/static/js/jquery.tipsy.js"></script>-->
        <script type="text/javascript" src="/static/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="/static/js/bootstrap.file-input.js"></script>
        <!--<script type="text/javascript" src="/static/js/jquery.masonry.min.js"></script>-->
 
    </head>
    <body style="font-family:Microsoft YaHei;">

    <iframe style="display:none" id="ifm" name="ifm"></iframe>
        <!--导航条-->
        <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="navbar-inner">
                <div class="container">
                    <a class="brand" rel="tipsy" href="/" title="欢迎使用MeePo-X" ><img src="/static/logo.png" style="width: 25px"></img>&nbsp;&nbsp;Welcome to My Upload Center!</a>
                    <!--<ul class="nav pull-right">-->
                        <!--<li class="divider-vertical"></li>-->
                        <!--<li rel="tipsy" title="我的信息"><a href="/account"><i class="icon-user"></i></a></li>-->
                        <!--<li rel="tipsy" title="注销" id="logout_button"><a href="#"><i class="icon-off"></i></a></li>-->
                    <!--</ul>-->
                    <form class="navbar-search pull-right" data-bind="submit: search.addDish">
                        <input id="search-dish" type="text" class="search-query" data-provide="typeahead" data-bind="搜索文件" rel="tooltip" data-placement="left" data-trigger="manual" data-original-title="再次回车加入订单" placeholder="Search">
                    </form>
                </div>
            </div>
        </div>
        <!--导航条结束-->

        <!--文件列表-->
        <div class="container">
            <div class="row-fluid">
                 <!--<form encType="multipart/form-data"  method="post" action="" target="ifm">-->
                     <!--<input type="file" title="选择要上传的文件"  class="btn btn-primary" id="file_upload_field" name="file" onchange="this.form.submit();"></input>-->
                    <!--[><div id="upload_progress" class="progress progress-striped active" style="display:none"><]-->
                    <!--[><div id="upload_progress_bar" class="bar"></div><]-->
                <!--</form>-->
                <form id="upload" action="/" method="POST" enctype="multipart/form-data" target="ifm">
                    <fieldset>
                        <legend>File Upload:</legend>
                        <!--<input type="hidden" id="MAX_FILE_SIZE" name="MAX_FILE_SIZE" value="300000" />-->
                        <div>
                                <!--<label for="fileselect">Files to upload:</label>-->
                            <input type="file" id="fileselect" name="file" / title="Choose a file" onchange="this.form.submit();">
                            <div id="filedrag">or drop the file here</div>
                        </div>
                    </fieldset>
                </form>
		<div id="upload_progress" class="progress progress-striped active" style="display:none">
                        <div id="upload_progress_bar" class="bar"></div>
                </div>
                <table class="table table-hover menu">
                    <thead>
                        <tr bgcolor="#333333">
                            <td><font color="white">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Name</font></td>
                            <td width="80"><font color="white">Size</font></td>
                            <td width="150"><font color="white">Time</font></td>
                            <td width="45"><font color="white">More</font></td>
                        </tr>
                    </thead>
                    <tbody id="dir_table" >
                        $for item in list:
                        <tr><td><img src="$icon[item['type']]" style="width: 40px"></img><a href="/$item["encode"]">$item["name"]</td>
                            <td>$item["size"]</td>
                            <td>$item["time"]</td>
                            <td><a title="Delete" name="$item["name"]" onclick="delete_file(this)" href="#"><img src="/static/img/bin.png" ></img></a></td></tr>
                    </tbody>
                </table>
            </div>
        </div>
        <!--文件列表结束-->
		
		<!--Footer-->
        <footer class="footer">
            <div class="container-fluid">
                <p><font color="gray">
                Designed and built by  
                <a href="http://i.orzace.com">Ace</a></br>
                Powerd by 
                <a href="http://twitter.github.com/bootstrap/index.html">Bootstrap</a>
                , and 
                <a href="http://webpy.org">web.py</a></br>
                in memory of
                <a href="http://www.aaronsw.com/">Aaron H. Swartz</a></br></br></font>
            </p>
            </div>
        </footer>
		<!--Footer结束-->
        <script type="text/javascript" src="/static/js/filedrag.js"></script>
	</body>
</html>
